<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareBicycle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7358DD7C1EBC747C00855684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7358DD951EBC747D00855684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7358DDA01EBC747D00855684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
